/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media screen and (min-width: 200px) {
  .test-media-query {
    background-color: red;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #1a1a1a;
}

.text-center {
  text-align: center !important;
  justify-content: center !important;
}

.text-primary {
  color: #5da88a;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.w-100 {
  width: 100% !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.me-1 {
  margin-right: 0.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin: 0 0.25rem;
}

.my-1 {
  margin: 0.25rem 0;
}

.me-n1 {
  margin-right: -0.25rem;
}

.ms-n1 {
  margin-left: -0.25rem;
}

.mx-n1 {
  margin: -0.25rem;
}

.my-n1 {
  margin: -0.25rem 0;
}

.pe-1 {
  margin-right: 0.25rem;
}

.ps-1 {
  margin-left: 0.25rem;
}

.px-1 {
  margin: 0 0.25rem;
}

.py-1 {
  margin: 0.25rem 0;
}

.me-2 {
  margin-right: 0.5rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin: 0 0.5rem;
}

.my-2 {
  margin: 0.5rem 0;
}

.me-n2 {
  margin-right: -0.5rem;
}

.ms-n2 {
  margin-left: -0.5rem;
}

.mx-n2 {
  margin: -0.5rem;
}

.my-n2 {
  margin: -0.5rem 0;
}

.pe-2 {
  margin-right: 0.5rem;
}

.ps-2 {
  margin-left: 0.5rem;
}

.px-2 {
  margin: 0 0.5rem;
}

.py-2 {
  margin: 0.5rem 0;
}

.me-3 {
  margin-right: 1rem;
}

.ms-3 {
  margin-left: 1rem;
}

.mx-3 {
  margin: 0 1rem;
}

.my-3 {
  margin: 1rem 0;
}

.me-n3 {
  margin-right: -1rem;
}

.ms-n3 {
  margin-left: -1rem;
}

.mx-n3 {
  margin: -1rem;
}

.my-n3 {
  margin: -1rem 0;
}

.pe-3 {
  margin-right: 1rem;
}

.ps-3 {
  margin-left: 1rem;
}

.px-3 {
  margin: 0 1rem;
}

.py-3 {
  margin: 1rem 0;
}

.me-4 {
  margin-right: 1.5rem;
}

.ms-4 {
  margin-left: 1.5rem;
}

.mx-4 {
  margin: 0 1.5rem;
}

.my-4 {
  margin: 1.5rem 0;
}

.me-n4 {
  margin-right: -1.5rem;
}

.ms-n4 {
  margin-left: -1.5rem;
}

.mx-n4 {
  margin: -1.5rem;
}

.my-n4 {
  margin: -1.5rem 0;
}

.pe-4 {
  margin-right: 1.5rem;
}

.ps-4 {
  margin-left: 1.5rem;
}

.px-4 {
  margin: 0 1.5rem;
}

.py-4 {
  margin: 1.5rem 0;
}

.me-5 {
  margin-right: 3rem;
}

.ms-5 {
  margin-left: 3rem;
}

.mx-5 {
  margin: 0 3rem;
}

.my-5 {
  margin: 3rem 0;
}

.me-n5 {
  margin-right: -3rem;
}

.ms-n5 {
  margin-left: -3rem;
}

.mx-n5 {
  margin: -3rem;
}

.my-n5 {
  margin: -3rem 0;
}

.pe-5 {
  margin-right: 3rem;
}

.ps-5 {
  margin-left: 3rem;
}

.px-5 {
  margin: 0 3rem;
}

.py-5 {
  margin: 3rem 0;
}

.rounded {
  border-radius: 2px;
}
.rounded-pill {
  border-radius: 50px !important;
}
.rounded-circle {
  border-radius: 50% !important;
}

.wrapper {
  margin: 0 5%;
}

@media (min-width: 1px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container-fluid {
    max-width: 100% !important;
    padding: 0;
    margin: 0;
  }

  .col-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-3 {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-6 {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-9 {
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-12 {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-3 {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-6 {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-9 {
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-sm-12 {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  .container, .container-sm, .containermd {
    max-width: 720px;
  }

  .col-md-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-3 {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-6 {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-9 {
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-md-12 {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .containermd, .container-lg {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-3 {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-6 {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-9 {
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-lg-12 {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .containermd, .container-lg, .container-xl {
    max-width: 1140px;
  }

  .col-xl-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-3 {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-6 {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-9 {
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xl-12 {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1400px) {
  .container, .container-sm, .containermd, .container-lg, .container-xl, .container-xxl {
    max-width: 1320px;
  }

  .col-xxl-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-3 {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-6 {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-9 {
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .col-xxl-12 {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1600px) {
  .container, .container-sm, .containermd, .container-lg, .container-xl, .container-xxl {
    max-width: 1500px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 6px 12px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-primary-primary {
  color: white;
  background-color: #5da88a;
}
.btn-primary-secondary {
  color: white;
  background-color: #cccccc;
}

#header {
  position: relative;
  z-index: 4;
}

.header-section {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 1px) {
  .header-section .container.container-fluid {
    margin: 0 5%;
  }
}
.header-section .header-menu {
  list-style-type: none;
}
.header-section .header-menu-btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: #5da88a;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .header-section .header-menu-btn {
    display: none;
  }
}
.header-section .header-menu-link {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 15px 14px;
  color: #1a1a1a;
}
.header-section .header-menu-link:hover {
  color: #5da88a;
}
.header-section .header-menu .fa-solid.fa-angle-down {
  font-size: 0.5rem;
}
.header-section .header-with-search .header-search {
  border: 2px solid #e2e2e2;
  border-radius: 50px;
  background-color: rgba(93, 168, 138, 0.1);
  opacity: 0.7;
}
.header-section .header-with-search .header-search #searchInput {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 8px 32px;
}
.header-section .header-with-search .header-search #searchInput::placeholder {
  color: #5da88a;
}
.header-section .header-with-search .header-search .search-button {
  outline: none;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}
.header-section .header-with-search .header-search .search-button:hover {
  background-color: #5da88a;
  border-radius: 50px;
  cursor: pointer;
}
.header-section .header-with-search .header-search .search-button:hover > i {
  color: white;
}
.header-section .header-with-search .header-link:hover > i {
  color: #451d1d;
}
.header-section .header-with-search .header-icon {
  font-size: 1.8rem;
}

#slider .slider-banner {
  width: 100%;
}
#slider .slider-content .slide-1 .slide-sub-heading {
  color: #636363;
  font-size: 28px;
}
#slider .slider-content .slide-1 .slide-heading {
  font-size: 36px;
  font-weight: 400;
  color: #5da88a;
}
#slider .slider-content .slide-1 .slide-text {
  font-size: 40px;
  font-weight: 300;
}
#slider .slider-content .slide-1 .mutiple-buttons {
  margin-top: 30px;
}
#slider .slider-content .slide-1 .mutiple-buttons .slide-button {
  text-decoration: none;
  background-color: #5da88a;
  color: white;
  padding: 16px 20px;
  border-radius: 50px;
}
#slider .slider-content .slide-1 .mutiple-buttons .slide-button:hover {
  background-color: #fee4d7;
}

#support .support-wrapper {
  padding: 50px 0;
}
#support .support-wrapper .support-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#support .support-wrapper .support-card .card-image {
  width: 150px;
  height: 150px;
  border: 1px dashed #5da88a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#support .support-wrapper .support-card .card-badge {
  width: 50px;
  height: 50px;
  background-color: #5da88a;
  border-radius: 50%;
  color: white;
  line-height: 50px;
}
#support .support-wrapper .support-card .card-heading {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
}
#support .support-wrapper .support-card .card-text {
  color: #1a1a1a;
}

/*# sourceMappingURL=style.css.map */
