@use "sass:map";

#header {
    position: relative;
    z-index: 4;
}

.header-sticky {
    position: sticky;
    bottom: 0;
}

.header-section {
    padding-top: 15px;
    padding-bottom: 15px;
    
    @include media-query("md") {
        margin: 0 30px;
    }

    .header-menu {
        list-style-type: none;
        display: none;

        .active {
            color: $primary-color;
        }

        &-btn {
            outline: none;
            border: none;
            background-color: transparent;
            font-size: 1.2rem;
            cursor: pointer;

            @include media-query("xxl") {
                display: none;
            }
        }
        
        &-item-link {
            text-decoration: none;
            font-size: 1rem;
            display: block;
            padding: 15px 14px;        
            color: $body-text;

            &:hover {
                color: $primary-color;
            }
        }

        .fa-solid.fa-angle-down {
            font-size: 0.5rem;
        }
    }

    .header-with-search {
        
        .header-search {
            @include media-query("xxl") {
                border: 2px solid #e2e2e2;
                border-radius: 50px;
                background-color: rgba(93, 168, 138, 0.1);
                opacity: 0.7;
            }
            
            #searchInput {
                @include media-query("xxl") {
                    display: unset;
                }
                outline: none;
                border: none;
                background-color: transparent;
                padding: 8px 32px;
                &::placeholder {
                    color: $primary-color;
                }
                display: none;
            }
    
            .search-button {

                outline: none;
                border: none;
                background-color: transparent;
                width: 36px;
                height: 36px;
                
                &-icon {
                    @include media-query("xl") { 
                        font-size: 1rem;
                    }
                }

                &:hover {
                    @include media-query("xl") {
                        background-color: $primary-color;
                        border-radius: 50px;
                        cursor: pointer;
                        &>i {
                            color: white!important;
                        }
                    }
                }
            }
        }

        .header-link:hover>i {
            color: #451d1d;
        }

        .header-icon {
            color: $primary-color;
            font-size: 1.4rem;
        }
    }
}

#slider {
    .slider-banner {
        width: 100%;
        position: relative;
        height: 540px;
        overflow: hidden;
        @include media-query("md") {
            height: 500px;
            overflow: unset;
            margin: 0 30px;
        }

        @include media-query("xl") {
            height: unset;
            overflow: unset;
            margin: 0 30px;
        }
    }

    .slider-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(248, 240, 229, 0.85);
        background: rgba(248, 240, 229, 0.85);
        @include media-query("md") {
            background-color: unset;
            background: unset;
        }
    }

    .slider-content {
        position: absolute;
        @include media-query("sm") {
            left: 5%;        
        }

        @include media-query("sm") {
            left: 160px;        
        }

        .slide-1 {

            .slide-sub-heading {
                color: #636363;
                font-size: 21px;   

                @include media-query("lg") {
                    font-size: 28px;
                }
            }   

            .slide-heading {
                font-weight: 400;
                color: $primary-color;
                font-size: 30px;       

                @include media-query("lg") {
                    font-size: 36px
                }
            }

            .slide-text {
                font-size: 16px;
                font-weight: 300;
                @include media-query("lg") {
                    font-size: 40px
                }
            }

            .mutiple-buttons {
                margin-top: 30px;

                .slide-button {
                    text-decoration: none;
                    background-color: $primary-color;
                    color: white;
                    padding: 16px 20px;
                    border-radius: 50px;

                    &:hover {
                        background-color: #fee4d7;
                    }
                }
            }
        }
    }
}

#support {
    .support-wrapper {
        padding: 50px 0;

        .support-card {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            .card-image {
                width: 150px;
                height: 150px;
                border: 1px dashed $primary-color;
                border-radius: 50%;           
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
            }

            .card-badge {
                width: 50px;
                height: 50px;
                background-color: $primary-color;
                border-radius: 50%;
                color: white;
                line-height: 50px;
            }

            .card-heading {
                margin-bottom: 10px;
                font-size: 30px;
                font-weight: 400;
            }

            .card-text {
                color: #1a1a1a;
            }
        }   
    }
}