@use "sass:map";

html {
    scroll-behavior: smooth;
}

body {
    counter-reset: support-counter;
}

#to-top {
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: $primary-color;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100vh;
    color: #ffffff;
    transition: all 0.25s ease-in-out;
    
    &:hover {
        background-color: #fee4d7;
        color: $primary-color;
    }
}

#header {
    position: relative;
    z-index: 4;
}

.header-sticky {
    position: sticky;
    bottom: 0;
}

.header-section {
    padding-top: 15px;
    padding-bottom: 15px;
    
    @include media-query("md") {
        margin: 0 30px;
    }

    .header-menu {
        list-style-type: none;
        display: none;

        .active {
            color: $primary-color;
        }

        &-btn {
            outline: none;
            border: none;
            background-color: transparent;
            font-size: 1.2rem;
            cursor: pointer;
            transition: all .25s ease-in-out;

            @include media-query("lg") {
                display: none;
            }
            &:hover {
                color: $primary-color;
            }
        }
        
        &-item-link {
            text-decoration: none;
            font-size: 1rem;
            display: block;
            padding: 15px 14px;        
            color: $body-text;
            transition: all .25s ease-in-out;

            &:hover {
                color: $primary-color;
            }
        }

        .fa-solid.fa-angle-down {
            font-size: 0.5rem;
        }
    }

    .header-with-search {

        .header-search {
            @include media-query("xxl") {
                border: 2px solid #e2e2e2;
                border-radius: 50px;
                background-color: rgba(93, 168, 138, 0.1);
                opacity: 0.7;
            }
            
            #searchInput {
                @include media-query("xxl") {
                    display: unset;
                }
                outline: none;
                border: none;
                background-color: transparent;
                padding: 8px 32px;
                &::placeholder {
                    color: $primary-color;
                }
                display: none;
            }
    
            .search-button {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                outline: none;
                border: none;
                background-color: transparent;
                width: 36px;
                height: 36px;
                transition: all .25s ease-in-out;

                
                &-icon {
                    @include media-query("xl") { 
                        font-size: 1rem;
                    }
                }

                &:hover {
                    &>i {
                        color: #451d1d!important;
                    }
                    @include media-query("xl") {
                        background-color: $primary-color;
                        border-radius: 50px;
                        &>i {
                            color: white!important;
                        }
                    }
                }
            }
        }


        .header-link {
            padding: 10px;
     
            &:hover i {
                color: #451d1d;
            }
        }

        .header-icon {
            color: $primary-color;
            font-size: 1.4rem;
        }
    }
}

#slider {
    .slider-banner {
        width: 100%;
        position: relative;
        height: 540px;
        overflow: hidden;
        @include media-query("md") {
            height: 500px;
            overflow: unset;
            margin: 0 30px;
        }

        @include media-query("xl") {
            height: unset;
            overflow: unset;
            margin: 0 30px;
        }
    }

    .slider-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(248, 240, 229, 0.85);
        background: rgba(248, 240, 229, 0.85);
        @include media-query("md") {
            background-color: unset;
            background: unset;
        }
    }

    .slider-content {
        position: absolute;
        @include media-query("sm") {
            left: 5%;        
        }

        @include media-query("sm") {
            left: 160px;        
        }

        .slide-1 {

            .slide-sub-heading {
                color: #636363;
                font-size: 21px;   

                @include media-query("lg") {
                    font-size: 28px;
                }
            }   

            .slide-heading {
                font-weight: 400;
                color: $primary-color;
                font-size: 30px;       

                @include media-query("lg") {
                    font-size: 36px
                }
            }

            .slide-text {
                font-size: 16px;
                font-weight: 300;
                @include media-query("lg") {
                    font-size: 40px
                }
            }

            .mutiple-buttons {
                margin-top: 30px;

                .slide-button {
                    text-decoration: none;
                    background-color: $primary-color;
                    color: white;
                    padding: 16px 20px;
                    border-radius: 50px;
                    transition: all .25s ease-in-out;

                    &:hover {
                        background-color: #fee4d7;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}


// Support section
#support {
    .support-wrapper {
        padding: 50px 0;

        .support-card {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
            top: 0;
            transition: all .25s ease-in-out;

            &:hover {
                top: -20px;
                .image-wrapper::before {
                    background-color: #fee4d7!important;
                }
            }

            .card-image {
                width: 150px;
                height: 150px;
                border: 1px dashed $primary-color;
                border-radius: 50%;           
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                
                & .image-wrapper {
                    position: relative;
                    &::before{
                        counter-increment: support-counter;
                        content: "0" counter(support-counter);
                        width: 50px;
                        height: 50px;
                        background-color: $primary-color;
                        border-radius: 50%;
                        color: white;
                        line-height: 50px;
                        position: absolute;
                        top: calc(100% - 10px);
                        left: calc(100% - 10px);
                        font-size: 20px;
                    }
                }
            }

            .card-heading {
                margin-bottom: 10px;
                font-size: 30px;
                font-weight: 400;
            }

            .card-text {
                color: #1a1a1a;
            }
        }   
    }
}

// grid-banner section

.grid-banner-section {
    padding: 50px 0;
}

.grid-banner {
    min-height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 1rem;

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding: 30px;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        user-select: none;

        @include media-query("sm") {
            justify-content: flex-end;
        }

        &::before { 
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(254, 228, 215, 0.5);
            z-index: -1;
            @include media-query("sm") {
                content: none;
            }
        }
    }

    &__main-title {
        font-size: 1.4rem;
        color: $primary-color;
        margin: 0;
        margin-bottom: 15px;
    }

    &__sub-title {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 15px;
    }

    &__link {
        text-decoration: none;
        font-size: 1rem;
        color: $body-text;
        padding: 13px 0 10 0;
        border-bottom: 2px solid $body-text;
    }
}